@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Mono:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  
a, a:link {
    color: rgb(180, 255, 186);
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: rgb(248, 174, 238);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

a:active{
    color: powderblue;
}
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252a;
    border-bottom: 1px solid white;
  }
  
  .logo {
    cursor: pointer;
    size: 50%;
    margin-right: auto ;
    mix-blend-mode: lighten;
  }
  
  
  .nav__links a, .fts, .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .fts {
    padding: 9px 25px;
    background-color: rgb(0, 135, 169);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .fts:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav 
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }*/
  
  #container {
    height: 200px;
    width: 700px;
    background-color: #3f3e4d;
    margin: 0 auto;
    border: 2px solid #ddd6d6;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*timers*/
.label {
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

#work {
    grid-area: 1 / 2 / 1 / 2;
}
#break {
    grid-area: 1 / 4 / 1 / 4;
}
#cycles {
    grid-area: 1 / 3 / 1 / 3;

}

.timer {
    display: flex;
    align-self: center;
    justify-self: left;

    font-size: 25px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

#counter {
    grid-area: 2 / 3 / 2 / 3;
    color: red;
    justify-self: center;
}

#work-timer {
    grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
    grid-area: 2 / 4 / 2 / 4;
}

/*buttons*/

.btn {
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 30px;

    font-size: 20px;
}

#start {
    grid-area: 3 / 2 / 3 / 2;
}

#reset {
    grid-area: 3 / 3 / 3 / 3;
}

#stop {
    grid-area: 3 / 4 / 3 / 4;
}

.canvas{
    height: 90.9vh;
    width: 100%;
    background-image: url(image/format/black1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.canvas h1{
    font-size:50px;
    color: ghostwhite;
    padding-left: 15%;
    padding-top: 4%;
}

.canvas p{
    color: ghostwhite;
    padding-left: 15%;
    padding-top: 2%;
    padding-right: 15%;
}

.canvas ul{
    color: ghostwhite;
    padding-left: 15%;
    padding-top: 1%;
    padding-right: 15%;
}
/*
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 160px;
    cursor: pointer;
    opacity: 1;
}

nav{
    flex: 1;
    padding-left: 60px;
    font-size: 30px;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin:0px 20px;
    cursor: pointer;
    
}

nav ul li a{
    text-decoration:none;
    position: relative;
    z-index: 1;
}

nav ul li a:hover{
    color: rgb(250, 132, 230) ;
    text-decoration:none;
    position: relative;
    z-index: 1;
}
*/